.menu {
    /* display: block; */
    width: 350px;
    font-size: 20px;
    position: sticky;
    height: 730px;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 20px;
    /* border-right: 2px solid orange; */
}
.menu button{
    display: block;
    padding: 2px 4px 2px 12px;
    width: 380px;
    text-align: left;
}
.menu :hover {
    background-color: rgb(159, 195, 245);
    color: rgb(90, 60, 5);
    border-left: 6px solid sienna;
    /* width: 390px; */
}
.menu :active{
    background-color: bisque;
    border-left: 6px solid sienna;

}
.menu :focus{
    background-color: bisque;
    border-left: 6px solid sienna;

}
