*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container1{
    display:flex;
    margin-left: -10px;
    
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: rgb(247, 157, 68);
    color: black;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
   
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.container1.link{
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
.container1.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.container1.active{
    background: lightskyblue;
    color: orange;
}
.icon, .link_text{
    font-size: 20px;
}